:root
{
    --white: #FFFFFF;
    --gray: #EDEBF4;
    --light-cyan: #28BBC9;
    --dark-cyan: #4D7B80; 
    --width-breaker: 430px;
    --light-bold: 300;
    --medium-bold: 500;
    --bold: 700;
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after
{
    box-sizing: border-box;
}
body
{
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
html, body, #root 
{
    height: 100%;
    scroll-behavior: smooth;
}
.my-swal-popup {
    border-radius: 12px;
    font-family: 'Segoe UI', sans-serif;
    padding: 1.5rem;
    width: 300px;
  }
  
  .my-swal-title {
    font-weight: 600;
    font-size: 18px;
  }
  
  .my-swal-text {
    font-size: 15px;
  }
  
  .my-swal-confirm-button {
    background-color: #26c6da !important;
    border: none !important;
    color: white !important;
    padding: 0.5rem 2rem;
    border-radius: 8px !important;
    font-weight: 500;
    font-size: 15px;
  }

  
    
  