:root
{
    --white: #FFFFFF;
    --gray: #EDEBF4;
    --light-cyan: #28BBC9;
    --dark-cyan: #4D7B80; 
    --width-breaker: 430px;
    --light-bold: 300;
    --medium-bold: 500;
    --bold: 700;
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after
{
    box-sizing: border-box;
}
body
{
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
html, body, #root 
{
    height: 100%;
    scroll-behavior: smooth;
}

  
    
  