@import url(../../styles/DefaultStyles.css);

.WelcomeUser
{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WelcomeUserMessage
{
    font-weight: var(--bold);
    color: var(--light-cyan);
    font-size: 1.5rem;
    margin-left: 20px;
}
.userAvatarContainer
{
    display: flex;
    align-items: center;
}

.userAvatarContainer img
{
    width: 50px;
    margin-right: 20px;
}