.SectionButton
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.SectionButtonContainer{
    display: flex;
    background: var(--gray);
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-height: 130px;
    padding: 20px 31px 20px 31px;
    border-radius: 10px;
}

.SectionButtonName{
    font-weight: var(--medium-bold);
    color: var(--light-cyan);
}

.SectionButtonContainer img{
    width: 119px;
    height: 100px;
}
.SectionButtonContainer:hover,.SectionButtonContainer:hover h2 {
    cursor: pointer;
    color: var(--dark-cyan);
    transition: 0.5s;
}

.SectionButtonName:hover{
    color: var(--dark-cyan);
    transition: 0.5s;
}